*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #F8FFFF;
}
:root{
    --btn:#F05670;
    --text-btn:#ffffff;
    --turquoise:#1E959B;
    --brown:#3C3C3C;
}
.container{
    max-width:1300px ;
    margin: 0px auto;
    padding: 0px 20px;
}
.flex{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
#btn{
    background-color: var(--btn);
    color:var(--text-btn);
    padding: 20px;
    border-radius: 15px;
    border:none;
    transition: all 0.5s ease-in-out;
    border:2px solid transparent;
}
#btn:hover{
    background-color: transparent;
    color:var(--btn);
    border:2px solid var(--btn);

}
.nav-bar{
    margin-top: 20px;

}
.nav-bar .flex{
    width: 40%;

}

.burger-menu,.input{
    display: none;
}


