@media screen and (max-width:1100px){
    
@keyframes carousel1 {
 0%,19%{
    transform: translateX(200%);
    opacity: 0;
 }

 20%,36%{
    transform: translateX(120%);
    opacity: 1;
    
 }
 40%,56%{
    transform:translateX(0%) ;
   opacity: 1;
   
 }
 60%,76%{
    transform: translateX(-110%);
   opacity: 1;
  
 }
 80%,96%{
    transform: translateX(-220%);
   opacity: 1;
   
 }


 100%{
    transform:translateX(-300%);
    opacity: 0;
 }
}
}



@media screen and (max-width:1000px){
    
    .nav-bar .flex{
       width: 60%;
        
    }
    
@keyframes carousel2{
    0%,17%{
        transform:translate(230%,-50%);
        opacity: 0;

    }
 
    20%,37%{
        transform: translate(120%,-50%);
       
        opacity: 1;
    }
    40%,57%{
        transform: translate(10%,-50%);
        opacity: 1;
      
    }
    60%,77%{
        transform: translate(-100%,-50%);
        opacity: 1;
       
    }
    80%,97%{
        transform: translate(-210%,-50%);
        opacity: 1;
       

    }

    100%{
      transform: translate(-330%,-505);
      opacity:0;
    }
}


}

@media screen and (max-width:923px){
    @keyframes carousel1 {
        
    
   0%,36%{
    transform: translateX(200%);
    opacity: 0;
 }
 40%,56%{
    transform:translateX(70%) ;
   opacity: 1;
  
   
 }
 60%,76%{
    transform: translateX(-50%);
   opacity: 1;
   
  
 }
 80%,96%{
    transform: translateX(-170%);
   opacity: 1;
  
   
 }


 100%{
    transform:translateX(-300%);
    opacity: 0;
 } 
}
}
@media screen and (max-width:770px){
    @keyframes carousel2{
    0%,17%{
        transform:translate(230%,-50%);
        opacity: 0;

    }
 
    20%,37%{
        transform: translate(70%,-50%);
    
        opacity: 1;
    }
    40%,57%{
        transform: translate(-50%,-50%);
        opacity: 1;
       
    }
    60%,77%{
        transform: translate(-170%,-50%);
        opacity: 1;
       
    }
   

   80%, 100%{
      transform: translate(-330%,-50%);
      opacity:0;
    }
}

}

@media screen and (max-width:722px){
    @keyframes carousel1 {
        
    
   0%,56%{
    transform: translateX(200%);
    opacity: 0;
 }
 60%,76%{
    transform: translateX(20%);
   opacity: 1;
   
  
 }
 80%,96%{
    transform: translateX(-100%);
   opacity: 1;

   
 }


 100%{
    transform:translateX(-300%);
    opacity: 0;
 } 
}
}



@media screen and (max-width:700px){
    .burger-menu{
        display: block;
        position: relative;
        width: 50px;
        height: 20px;
    }
    .burger-menu div{
        background-color:var(--turquoise);
        height: 4px;
        width: 50px;
        position: absolute;
        transition: all 1s ease-in-out;
        
    }
    .burger-menu div:nth-child(1){
        top:0px;
    }
    .burger-menu div:nth-child(2){
        top:10px;
        
    }
    .burger-menu div:nth-child(3){
        top:20px;
    }
    .nav-bar .flex{
        top:0;
      flex-direction: column;
      position: absolute;
      left:-100%;
      padding:20px 30px;
      transition: all 1s ease-in-out;
      background-color:#F8FFFF ;
    }
    .input:checked ~  .flex{
     left:0;
    }
    

    .nav-bar .flex img,.telephone {
    height: 20px;
        
    }
    
.input:checked ~.burger-menu  div:nth-child(1){
    transform:rotate(45deg); 
   
}
.input:checked ~.burger-menu div:nth-child(2){
    transform:rotate(45deg);
 
    top:0px;
}
.input:checked ~.burger-menu div:nth-child(3){
    transform:rotate(-45deg);
   
    top:0px;
}
.input{
    position:absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 10;
    display:block;
}

}
@media screen and (max-width:600px){
    @keyframes carousel2{
    0%,37%{
        transform:translate(230%,-50%);
        opacity: 0;
    }

    40%,57%{
        transform: translate(10%,-50%);
        opacity: 1;
       
    }
    60%,77%{
        transform: translate(-110%,-50%);
        opacity: 1;
       
    }
   

   80%, 100%{
      transform: translate(-330%,-50%);
      opacity:0;
    }
}

}
@media screen and (max-width:522px){
    @keyframes carousel1 {
        
    
   0%,76%{
    transform: translateX(200%);
    opacity: 0;
 }

 80%,96%{
    transform: translateX(-50%);
   opacity: 1;
  
   
 }


 100%{
    transform:translateX(-300%);
    opacity: 0;
 } 
}
}
@media screen and (max-width:400px){
    @keyframes carousel2{
    0%,37%{
        transform:translate(230%,-50%);
        opacity: 0;

    }
 
   
   
    40%,57%{
        transform: translate(-50%,-50%);
        opacity: 1;
       
    }
   
   

   60%, 100%{
      transform: translate(-330%,-50%);
      opacity:0;
    }
}

}





