@media screen and (max-width:1000px){
    
    .nav-bar .flex{
       width: 60%;
        
    }
}
@media screen and (max-width:700px){
    .burger-menu{
        display: block;
        position: relative;
        width: 50px;
        height: 20px;
    }
    .burger-menu div{
        background-color:var(--turquoise);
        height: 4px;
        width: 50px;
        position: absolute;
        transition: all 1s ease-in-out;
        
    }
    .burger-menu div:nth-child(1){
        top:0px;
    }
    .burger-menu div:nth-child(2){
        top:10px;
        
    }
    .burger-menu div:nth-child(3){
        top:20px;
    }
    .nav-bar .flex{
      flex-direction: column;
      position: absolute;
      left:-100%;
      padding:20px 30px;
      transition: all 1s ease-in-out;
    }
    .input:checked ~  .flex{
     left:0;
    }
    

    .nav-bar .flex img,.telephone {
    height: 20px;
        
    }
    
.input:checked ~.burger-menu  div:nth-child(1){
    transform:rotate(45deg); 
   
}
.input:checked ~.burger-menu div:nth-child(2){
    transform:rotate(45deg);
 
    top:0px;
}
.input:checked ~.burger-menu div:nth-child(3){
    transform:rotate(-45deg);
   
    top:0px;
}

}

